body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.selector {
	margin-left: 1rem;
}

.start {
	margin-right: 1rem;
}

.read-only {
	font-weight: bold;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

select, button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

input[type="text"]:focus {
    outline: none;
}

.highlight {
	background-color: rgba(0, 123, 255, 0.2);
}

.select {
	background-color: rgba(0, 123, 255, 0.6);
}

.conflict {
	background-color: rgba(255, 100, 100, 0.6);
}

.conflict-select {
	background-color: rgba(255, 100, 100, 0.8);
}

table td:nth-child(1) {
    border-left: 2px solid #333;
}

table tr:nth-child(1) td {
    border-top: 2px solid #333;
}

table td:nth-child(3n) {
    border-right: 2px solid #333;
}

table tr:nth-child(3n) td {
    border-bottom: 2px solid #333;
}
